* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f7f7f7;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    background: #ffffff;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content>img {
    border: solid 0px #42515f;
    width: 40px;
    height: 40px;
}

.book-text {
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
}

.add-book {
    top: 25px;
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: uppercase;
}

.book-text,
.add-book {
    padding-left: 5px;
}